h1 {
    font-size: 3.6vmax;
    }

h2 {
    font-size: 3vmax;
    }

h3 {
    font-size: 2vmax;
    }

h4 {
    font-size: 1.8vmax ;
    }

    h5 {
    font-size: 1.6vmax ;
    }

h6 {
    font-size: 1.4vmax ;
    }

    footer{
    font-size: 1vmax ;
    }

    dd{
    font-size: 1.3vmax ;
    }

    p{
    font-size: 1.3vmax;
    }

    ul{
    font-size: 1.2vmax;
    }




/* h1 {
    font-size: 119pt;
    }

h2 {
    font-size: 50.5pt;
    }

h3 {
    font-size: 21pt ;
    }

h4 {
    font-size: 18pt ;
    }
    
h5 {
    font-size: 14pt ;
    }

h6 {
    font-size: 13pt ;
    }
footer{
    font-size: 9pt ;
    } */